# Binaries for programs and plugins
**/*.so
**/*.dylib
**/bin/*

# Test binary, built with `go test -c`
**/*.test
**/testdata
**/ctest

# Dependency directories (remove the comment below to include it)
vendor/
